.d1{
    color: rgb(87, 170, 222);
    text-align: center;
}
.serviceimg{
    max-width: 40px;
    max-height: 40px;
}
.d2{
    color: rgb(255, 255, 255);
}
.d3{
    color: rgb(255, 255, 255);
}